{% extends 'base.html' %}
{%  block content %}

{% load cart %}
<h4>{{uname}}</h4>
<div class="container-fluid mt-3">
	<div class="row">
		
		<!-- filter -->

		<div class="col-lg-3 mx-auto">
			<div class="list-group">

				<a href="/" class="list-group-item list-group-item-action">All Products</a>

				{% for category in categories %}
				<a href="/?category={{category.id}}"
					class="list-group-item list-group-item-action">{{category.Name}}</a>
				{% endfor %}
			</div>
		</div>

		<!-- all products -->
		<div id='products' class="col-lg-9 mx-auto">
			<div class="row mx-auto">
				{% for product in products %}
				<div class="card mx-auto mb-3" id={{product.id}} style="width: 18rem;">
					<img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
					<div class="card-body">
						<p class="card-title">{{product.name}}</p>
            <p class="card-title">{{product.price}}</p>
            <p class="card-title">{{product.description}}</p>
			{% if product|is_in_cart:request.session.cart %}<div class="card-footer">
			
			 
				<div id="{{product.id}}">
					<form action="/#{{product.id}}" method="POST">
						{% csrf_token%}
				<input type="text" hidden value="{{product.id}}" name="product">
				<input type="text" hidden value="True" name="delete">
			<input type="submit" value="-" class="btn btn-info"></form>
			{{product|cart_qunty:request.session.cart}} is in cart
			<div id="{{product.id}}">
			<form action="/#{{product.id}}" method="POST">
				{% csrf_token%}
				<input type="text"   hidden value="{{product.id}}" name="product">
			<input type="submit" value="+" class="btn btn-info">
				</form>
		</div>	</div>
		{%else%}	
		<div id="{{product.id}}">	
		<form action="/#{{product.id}}" method="POST">
			{% csrf_token%}
			
			<input type="text" hidden value="{{product.id}}" name="product">
		<input type="submit" value="Add to cart" class="btn btn-info">
	</form></div>	
		{%endif%}


		</div>
		
		
	</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div></div>
{%endblock%}